.box {
  display: inline-block;
  width: 400px;
  height: 140px;
  position: relative;
  font-family: DFKai-SB;
  border: 1px solid black;
  margin: 20px;
  left: 70px;
  top: 70px;

  & .title {
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    margin: 0px;
    position: relative;
    display: block;
    background: gray;
    & .locat {
      position: relative;
      font-size: 30px;
      left: 20px;
    }

    & .time {
      font-size: 25px;
      position: relative;
      left: 50px;
      opacity: 0.7;
    }
  }

  & .content {
    color: white;
    width: 100%;
    top: 40px;
    left: 0;
    background: rgb(58, 44, 44);
    position: absolute;
    height: 100px;
    display: block;
    & .cond {
      font-size: 20px;
      position: relative;
      top: 20px;
      left: 30px;
    }
    & .temp {
      font-size: 18px;
      position: relative;
      left: 30px;
      top: 38px;
    }
    & .rain {
      font-size: 18px;
      position: relative;
      left: 200px;
      top: 18px;
    }
  }
}

@media screen and (max-width: "915px") {
}
